@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Outfit Variable", sans-serif;
}
.fontPlayfair {
  font-family: "Playfair Variable", serif;
}

/* 🎨 */
@layer base {
  :root {
  --color-primary: #3b82f6;
  --color-primary-light: #60a5fa;
  --color-primary-dark: #3286e6;

  --color-bg-main: #f5f7ff;
  --color-bg-card: #e4ebff;
  --color-bg-section: #c7d2f97a;

  --color-text-main: #1e293b;
  --color-text-secondary: #334155;
  --color-text-whitee: #ffffff;

  --color-border: #cbd5e1;
  --shadow-card: 0 4px 12px rgba(15, 23, 42, 0.08);
  
  --bg-about-hero: url('https://images.unsplash.com/photo-1611892440504-42a792e24d32?q=80&w=2070');
  --bg-experience-hero: url('https://images.unsplash.com/photo-1564501049412-61c2a3083791?q=80&w=2089');
}


  .dark {
    --color-primary: #60a5fa;
    --color-primary-light: #66acfc;
    --color-primary-dark: #3b82f6;
   --color-bg-main: #1a243f;
   
  --color-bg-card: #243253;
  --color-bg-section: #1f2b4a;

    --color-text-main: #f1f5f9;
    --color-text-secondary: #cbd5e1;
    --color-text-whitee: #ffffff;
    --color-border: #334155;
    --shadow-card: 0 4px 20px rgba(96, 165, 250, 0.12);
  }
  
  body {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    transition: background-color 0.3s, color 0.3s;
  }
}

  h1, h2, h3, h4, h5, h6 {

      font-family: "Playfair Variable", serif;
  }

  .hero-bg-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-about-hero);
  }

  .hero-bg-experience {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-experience-hero);
  }
/* 


